{{#> main }}
	<nav class="tabs is-fullwidth is-toggle is-toggle-rounded">
		<ul>
			<li class="is-active" id="scanning-tab">
				<a>
					<span class="icon is-small"><i class="fas fa-satellite-dish" aria-hidden="true"></i></span>
					<span>Scanning</span>
				</a>
			</li>
			<li id="search-tab">
				<a>
					<span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
					<span>Search</span>
				</a>
			</li>
			<li id="settings-tab">
				<a>
					<span class="icon is-small"><i class="fas fa-sliders-h" aria-hidden="true"></i></span>
					<span>Settings</span>
				</a>
			</li>
		</ul>
	</nav>
	<section id="scanning">
		<h1>Scanning</h1>
	</section>
	<section id="search" hidden>
		<h1>Search</h1>
	</section>
	<section id="settings" hidden>
		<h1>Settings</h1>
	</section>
{{/main}}
