html, body {
	margin: 0;
	font-family: "Barlow";
	height: 100%;
}

body > .container {
	padding: 15px;
}
.footer {
	padding-bottom: 3rem;
}

.is-danger > .message-body:empty, .is-success > .message-body:empty {
	display: none;
}

li {
	overflow-wrap: break-word;
}

code {
	border-radius: 3px;
	padding: 0.15em 0.35em 0.15em
}

a.button {
	width: 100%;
	display: block;
	margin: 0 auto;
}
a > i {
	margin-right: 10px;
	transform: scale(1.25);
}
.hidden {
	opacity: 0;
	display: none;
}
.shown {
	opacity: 1;
	display: block;
}

.single-line-button {
	line-height: 2.25em; /* Same height as button */
	margin: 10px 0;
}
.single-line-button > button {
	margin-left: 15px;
}

.is-grouped.is-multiline {
	flex-wrap: wrap;
	margin-top: -12px;
}
.is-grouped.is-multiline > * {
	margin-top: 12px;
}

*[hidden] {
	display: none !important;
}

.tabs.is-toggle li.is-active a {
	background-color: #4a4a4a;
	border-color: #212121;
}

#settings h1, #settings h2, #settings h5 {
	margin-bottom: 0;
}

.table td {
	vertical-align: middle;
}

.modal-card {
	height: calc(95vh - 40px);
	width: calc(90vw - 40px);
}
.modal-title {
	flex-grow: 1;
	flex-shrink: 0;
}
.modal-card-foot > .buttons {
	width: 100%;
}
.buttons > .spacer {
	flex-grow: 1;
}
embed, iframe {
	width: 100%;
	height: 90%;
}

.side-by-side-flex {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.side-by-side-flex > :first-child {
	margin-right: 5px;
}
.tags-column {
	word-wrap: break-word;
	max-width: 160px;
}
.modal-card-body {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 5px;
}
#detail-notes > li:not(.no-prefix)::before {
	content: "– ";
}
#detail-notes > li > .button {
	margin: 1px;
}
